.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-width: 90%;
  max-width: 300px;
  margin: auto;
}
.squear {
  width: auto;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.squear.dark {
  color: #fff !important;
}
form {
  width: 100%;
  text-align: center;
}
input {
  width: -webkit-fill-available;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 40px;
  font-size: 20px;
  margin: 20px 0 0 0;
  padding: 2px 10px;
}
button {
  border: none;
  margin: 10px 0 0 0;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 17px;
}
